<!--
Ockley 1.0
Copyright 2011,  Matthew Page
licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
-->
<div>
    <span id="toolbar" class="ui-widget-header ui-corner-all" >
        <button id="save">Save</button>
        <button id="saveAll">Save All</button>
        <button id="undo">Undo</button>
        <button id="redo">Redo</button>
    </span>
</div>
<div id="sidebar" class="ui-widget ui-widget-content ui-corner-all">
    <div id="accordion">
	    <h3 id="apexHeader"><a href="#">Apex</a></h3>
        <div id="apexContent">
            <p>loading...</p>
        </div>
        <h3 id="vfHeader"><a href="#">Visualforce</a></h3>
        <div id="vfContent">
            <p>loading...</p>
        </div>
    </div>
</div>
        
<div id="tabs">
    <ul>
		<li><a href="#tabs-new">+</a></li>
	</ul>
	<div id="tabs-new">
	</div>
</div>

<script>

    function fetchDocs(url, type, callback){
        if (url && type){
            $.getJSON(url, function(data) {
                var docs = [];
                $.each(data, function(index, elem){
                   if (elem['sf:type'] == type){
                       docs.push({ id: elem['sf:id'], name: elem['sf:name'] });
                   }
                });
                if ($.isFunction(callback)){
                    callback.call(this, docs);
                }
            });
        }
    }

    function fetchApexDocs(callback){
        fetchDocs('/apex.json', 'ApexClass', callback);
    }
    function fetchVisualforceDocs(callback){
        fetchDocs('/vf.json', 'ApexPage', callback);
    }

    jQuery(function(){
        log('editor page loaded...');

        var tabs = new EditorTabs( "#tabs" );

        tabs.createNewTab();

        $("#sidebar").height(tabs.outerHeight());

        var accordion = new DocAccordion("#accordion", {
            documentClicked: function(headerTitle, link){
                var docId = link.attr('id');
                log("Clicked on doc: " +  docId + " under header " + headerTitle);

                //if it's already open, just activate the tab
                var existingTabs = tabs.findTabData('docId', docId);
                if (existingTabs.size() > 0){
                    tabs.setSelectedTab(existingTabs[0]);
                    return;
                }

                var url = null;
                var key = null;

                if (headerTitle === "Apex"){
                    url = '/apex/'+ docId+'.json';
                    key = 'sf:body';
                }
                else if (headerTitle === "Visualforce"){
                    url = '/vf/'+ docId+'.json';
                    key = 'sf:markup';
                }

                if (url && key){
                    //fetch the document and open it in a new tab
                    $.getJSON(url, function(data) {
                        log(JSON.stringify(data));
                        if (data.length > 0){
                            var content = data[0][key];
                            if (content){
                                var ret = tabs.createNewTab();
                                if (ret){
                                    tabs.setTabTitle(ret.tabId, link.text() );
                                    tabs.setTabData(ret.tabId,  'docId', docId);
                                    ret.editor.setValue(content);
                                }
                            }
                        }

                    });
                }
            }
        });

        fetchApexDocs(function(docs){
            accordion.appendDocuments("Apex", docs);
        });
        fetchVisualforceDocs(function(docs){
            accordion.appendDocuments("Visualforce", docs);
        });

        //setup toolbar buttons
        
        $( "#save" ).button({
			text: false,
			icons: {
				primary: "silk-icon-save"
			}
		}).click(function(){
            alert('Save');
            //$.post('/vf')
        });
        $( "#saveAll" ).button({
			text: false,
			icons: {
				primary: "silk-icon-saveall"
			}
		});
        $( "#undo" ).button({
			text: false,
			icons: {
				primary: "silk-icon-undo"
			}
		});
		$( "#redo" ).button({
			text: false,
			icons: {
				primary: "silk-icon-redo"
			}
		});
/*
        tabSet.resizable({
            animate: true
        }).draggable({
            handle: '.ui-tabs-nav'
        });
*/
    });
</script>        