<!--
Ockley 1.0
Copyright 2011,  Matthew Page
licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
-->
<h2>{{ title }}</h2>

<p>Ockley is a simple web based editor for Force.com Apex and Visualforce.
    It aspires to be the textpad/notepad of Force.com development tools.
</p>
<p>It is built with node.js, html5 boilerplate, jQuery, and jQueryUI.
    Special thanks to <a href="http://www.famfamfam.com/lab/icons/silk/">Mark James</a> for the awesome icons!
</p>

<script>
    jQuery(function(){
        log('index page loaded...');
    });
</script>