<!--
Ockley 1.0
Copyright 2011,  Matthew Page
licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
-->
<h2>{{ title }}</h2>

<p>Ockley is an open source Salesforce editing web application.</p>
<p>It is built with node.js, html5 boilerplate, and jQuery.</p>
<p>It is cool.</p>

<script>
    jQuery(function(){
        log('index page loaded...');
    });
</script>