<!--
Ockley 1.0
Copyright 2011,  Matthew Page
licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
-->
<h2>What is it?</h2>

<p>Ockley is a simple web-based editor for Force.com Apex and Visualforce.
    It aspires to be the textpad/notepad of Force.com development tools.
</p>
<p>It looks like this:<p>
<img src="images/ockley.png" width="513px" height="217px" alt="a small pic of ockley in action">

<h2>Why do I care?</h2>
<p>
    Maybe you do and maybe you don't.

    <ul>
        <li>Do you work on the <a href="http://www.salesforce.com/platform/" alt="Force.com platform">Force.com platform</a>?</li>
        <li>Are you interested in alternatives to the Eclipse based <a href="http://wiki.developerforce.com/index.php/Force.com_IDE" alt="Force.com IDE">Force.com IDE</a>?</li>
        <li>Ockley is open-source. You can <a href="https://github.com/mattpage/Ockley" alt="github link">change it</a> if you want to!</li>
    </ul>

</p>

<h2>More?</h2>
<p>Ockley is built on <a href="http://nodejs.org">node.js</a> and the <a href="http://expressjs.com/">express</a> framework.</p>
<p>The front-end is a <a href="http://en.wikipedia.org/wiki/Layer_cake">layer cake</a>
    of <a href="http://html5boilerplate.com/">HTML5 Boilerplate</a>, <a href="http://jquery.com">jQuery</a>, and <a href="http://jqueryui.com/">jQueryUI</a>.
</p>
<p>
    The editor is <a href="http://codemirror.net/">CodeMirror</a> with plugins for <a href="http://www.salesforce.com/us/developer/docs/apexcode/index.htm">Apex</a> and what-not.
    The sexy forms are thanks to <a href="http://thrivingkings.com/formly/">Formly</a>.
</p>
<p>
    Special thanks to <a href="http://www.famfamfam.com/lab/icons/silk/">Mark James</a> for the awesome icons!
</p>

<script>
    jQuery(function(){
        log('index page loaded...');
    });
</script>