<!--
Ockley 1.0
Copyright 2011,  Matthew Page
licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
-->
<!doctype html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>{{title}}{{subtitle}}</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="stylesheet" href="css/style.css?v=2">

    {{#stylesheets}}<link rel="stylesheet" href="{{.}}"></link>{{/stylesheets}}
    
	<script src="libs/modernizr-1.7.min.js"></script>


</head>
<body>

	<div id="container">
		<header>
            <ul>
              <li><a href="/">Home</a></li>
              {{#loggedIn}}
              <li id="logout"><a href="#">Logout</a></li>
              {{/loggedIn}}
              {{^loggedIn}}
              <li id="login"><a href="/login">Login</a></li>
              {{/loggedIn}}
              <li><a href="/editor">Editor</a></li>
            </ul>
		</header>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js"></script>
        <script>!window.jQuery && document.write(unescape('%3Cscript src="libs/jquery-1.6.1.min.js"%3E%3C/script%3E'))</script>
		<div id="main" role="main">
            {{{ body }}}
		</div>

		<footer>

		</footer>
	</div>

    <!-- scripts concatenated and minified via ant build script-->
    <script src="js/plugins.min.js"></script>
	{{#scripts}}<script src="{{.}}"></script>{{/scripts}}
    <!-- end scripts-->
    <script>
        jQuery(function(){
            log('layout loaded...')
            var login = $('#login');
            var logout = $('#logout');
            logout.click(function(e) {
                e.preventDefault();
                if (confirm('Are you sure you want to log out?')) {
                    var form = $('<form method="POST" action="/logout" style="display:none"><input type="hidden" name="_method" value="delete" /></form>');
                    form.appendTo('body');
                    form.submit();
                }
            });
        });
    </script>

	<!--[if lt IE 7 ]>
	<script src="libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>