<!--
Ockley 1.0
Copyright 2011,  Matthew Page
licensed under the MIT license: http://www.opensource.org/licenses/mit-license.php
-->

<form id="loginForm" method="post" action="/login">
    <label for="server">Server:</label>
    <select id="server" name="server[url]">
        <option value="login.salesforce.com">login.salesforce.com</option>
        <option value="test.salesforce.com">test.salesforce.com</option>
    </select>
    <input type="submit" value="login" />
</form>

<!--
<form id="loginForm" class="login" method="post" action="/login">
    <div>
        <label for="username">Salesforce User:</label>
        <input type="text" name="user[name]" id="username" require="true" />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="user[pass]" id="password" require="true" />
    </div>
    <p class='note'>You may need to add your security token to the end of your password.</p>
    <input type="submit" value="Submit" />
    <input type="reset" value="Clear" />
</form>
-->


<script>
    jQuery(function(){
        $("#loginForm").formly();
    });
</script>