span.cm-apex-keyword {color: #90b;}
span.cm-apex-datatype {color: #049;}
span.cm-apex-number {color: #291;}
span.cm-apex-comment {color: #a70;}
span.cm-apex-string {color: #a22;}
span.cm-apex-var {color: #22b;}


