#toolbar{
    height: 100%;
    width: 95%;
    float:left;
    padding: 4px;
    margin-left: 1px;
    margin-bottom: 2px;
}

#sidebar {
    width: 15%;
    min-width: 10%;
    height: 100%;
    float:left;
    margin-right: 2px;
    clear:left;
}

#tabs{
    width: 80%;
    min-width: 40%;
    height: 100%;
    float:left;
}

#tabs ul {
    margin: 0px;
}

#tabs div.ui-tabs-panel{
    padding: 0 !important;
}

#messageDialog {
    background-color:white;
    width: 400px;
    padding: 10px;
}

#apexContent, #vfContent{
    padding-left: 5px;
    font-size: 12px;
    overflow-x: hidden;
}

#apexContent ul, #vfContent ul{
     list-style: none;
}

#apexContent li, #vfContent li{
     margin-bottom: 5px;
}


.ui-resizable-helper { border: 1px dotted gray; }

.CodeMirror{
    border: 1px solid #eee;
    height: 600px;
    /*margin: 2px;*/
}

.silk-icon-undo,
.silk-icon-redo,
.silk-icon-save,
.silk-icon-saveall{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.silk-icon-undo {
    background-image: url("/images/silk_icons/arrow_undo.png") !important;
}
.silk-icon-redo {
    background-image: url("/images/silk_icons/arrow_redo.png") !important;
}
.silk-icon-save {
    background-image: url("/images/silk_icons/disk.png") !important;
}
.silk-icon-saveall {
    background-image: url("/images/silk_icons/disk_multiple.png") !important;
}

