
/**** Toolbar and Toolbar Icons ****/

#toolbar{
    height:43px; /* toolbar height is fixed */
    width: 100%;
    min-width: 600px;
    float:left;
}

#toolbar .ui-button {
    margin-top: 4px;
    margin-bottom: 4px;
}

#new { /*leftmost toolbar button */
    margin-left: 4px;
}

.silk-icon-new,
.silk-icon-undo,
.silk-icon-redo,
.silk-icon-save,
.silk-icon-find{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.silk-icon-new {
    background-image: url("/images/silk_icons/add.png") !important;
}

.silk-icon-undo {
    background-image: url("/images/silk_icons/arrow_undo.png") !important;
}
.silk-icon-redo {
    background-image: url("/images/silk_icons/arrow_redo.png") !important;
}
.silk-icon-save {
    background-image: url("/images/silk_icons/disk.png") !important;
}
.silk-icon-find {
    background-image: url("/images/silk_icons/find.png") !important;
}

/**** Wrapper for both sidebar and tabs ****/

.editorColumns {
    width: 100%;
    min-width: 600px;
    height: 100%;
    float:left;
}

/**** Sidebar ****/

#sidebar {
    width: 15%;
    height: 91%;
    float:left;
    margin:  0;
    overflow: hidden;
}

/**** Tabs ****/

#tabs{
    width: 83%;
    height: 90%;
    float:right;
    margin: 0;
    overflow: hidden;
}

#tabs ul {
    margin: 0;
}

#tabs div.ui-tabs-panel{
    padding: 0 !important;
}

#suggestDocOpen {
    font-weight: normal;
}

/**** Dialogs ****/

#messageDialog,
#findDialog,
#newDialog{
    background-color:white;
    padding: 1em;
}

#findDialog ul,
#newDialog ul{
    list-style: none;
}
#findDialog li,
#newDialog li{
    margin: 0.5em;
}
#findText {
    width: 250px;
}

#newDialog label{
    padding-left: 4px;
}

.foundText{
    background-color: yellow;
}
.currentLine{
    background-color: #dcdcdc !important;
}

/**** Accordion Content ****/

#apexContent, #vfContent{
    padding-left: 0.5em;
    font-size: 0.75em;
    overflow-x: hidden;
}

#apexContent ul, #vfContent ul{
     list-style: none;
}

#apexContent li, #vfContent li{
     margin-bottom: 0.5em;
}


/**** CodeMirror ****/

.ui-tabs-panel {
    height: 92%;
    overflow: hidden;
}

.editorContainer{
    height: 100%;
    width: 100%;
}

.CodeMirror{
    border: 1px solid #eee;
    height: 100%;
}

.CodeMirror-scroll {
    height: 100%;
}

/***** MiniTip *****/

#miniTip {
   	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	display: none;
	position: absolute;
	top: 0;
	left: 0;
    z-index: 99999;
}

/* main content style */
#miniTip_c { padding: 4px 4px }


/* arrow holder, no need to edit */
#miniTip_a {
	width: 0;
	height: 0;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
    filter: alpha(opacity=20);       /* IE8 and lower */
    zoom: 1;       /* set "zoom", "width" or "height" to trigger "hasLayout" in IE 7 and lower */ 
}

/* arrow pointing down, change border-top color to change color of the arrow */
#miniTip .n {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #00000; 
	border-bottom: 0;
}

/* arrow pointing up, change border-bottom color to change color of the arrow */
#miniTip .s {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #00000; 
	border-top: 0;
}

/* arrow pointing left, change border-right color to change color of the arrow */
#miniTip .e {
	border-bottom: 6px solid transparent;
	border-top: 6px solid transparent;
	border-right: 6px solid #000000; 
	border-left: 0;
}

/* arrow pointing right, change border-left color to change color of the arrow */
#miniTip .w {
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-left: 8px solid #000000; 
	border-right: 0;
}



/*****jquery.ui.selectmenu*****/
.ui-selectmenu { display: block; display: inline-block; position: relative; height: 2.2em; vertical-align: middle; text-decoration: none; overflow: hidden; zoom: 1; margin-bottom: 4px; }
.ui-selectmenu-icon { position:absolute; right:6px; margin-top:-8px; top: 50%; }
.ui-selectmenu-menu { padding:0; margin:0; list-style:none; position:absolute; top: 0; display: none; overflow: auto; z-index: 1005;} /* z-index: 1005 to make selectmenu work with dialog */
.ui-selectmenu-open { display: block; }
.ui-selectmenu-menu-popup { margin-top: -1px; }
.ui-selectmenu-menu-dropdown { }
.ui-selectmenu-menu li { padding:0; margin:0; display: block; border-top: 1px dotted transparent; border-bottom: 1px dotted transparent; border-right-width: 0 !important; border-left-width: 0 !important; font-weight: normal !important; }
.ui-selectmenu-menu li a,.ui-selectmenu-status { line-height: 1.4em; display: block; padding: .405em 1em; outline:none; text-decoration:none; }
.ui-selectmenu-menu li.ui-state-disabled a, .ui-state-disabled { cursor: default; }
.ui-selectmenu-menu li.ui-selectmenu-hasIcon a,
.ui-selectmenu-hasIcon .ui-selectmenu-status { padding-left: 20px; position: relative; margin-left: 5px; }
.ui-selectmenu-menu li .ui-icon, .ui-selectmenu-status .ui-icon { position: absolute; top: 1em; margin-top: -8px; left: 0; }
.ui-selectmenu-status { line-height: 1.4em; }
.ui-selectmenu-open li.ui-selectmenu-item-focus a { }
.ui-selectmenu-open li.ui-selectmenu-item-selected { }
.ui-selectmenu-menu li span,.ui-selectmenu-status span { display:block; margin-bottom: .2em; }
.ui-selectmenu-menu li .ui-selectmenu-item-header { font-weight: bold; }
.ui-selectmenu-menu li .ui-selectmenu-item-content { }
.ui-selectmenu-menu li .ui-selectmenu-item-footer { opacity: .8; }
/* for optgroups */
.ui-selectmenu-menu .ui-selectmenu-group { font-size: 1em; }
.ui-selectmenu-menu .ui-selectmenu-group .ui-selectmenu-group-label { line-height: 1.4em; display:block; padding: .6em .5em 0; font-weight: bold; }
.ui-selectmenu-menu .ui-selectmenu-group ul { margin: 0; padding: 0; }
/* IE6 workaround (dotted transparent borders) */
* html .ui-selectmenu-menu li { border-color: pink; filter:chroma(color=pink); width:100%; }
* html .ui-selectmenu-menu li a { position: relative }
/* IE7 workaround (opacity disabled) */
*+html .ui-state-disabled, *+html .ui-state-disabled a { color: silver; }

