
#toolbar{
    height: 100%;
    width: 95%;
    float:left;
    padding: 4px;
    margin-left: 1px;
    margin-bottom: 2px;
}

#sidebar {
    width: 15%;
    min-width: 10%;
    height: 100%;
    float:left;
    margin-right: 2px;
    clear:left;
}

#tabs{
    width: 80%;
    min-width: 40%;
    height: 100%;
    float:left;
}

#tabs ul {
    margin: 0;
}

#tabs div.ui-tabs-panel{
    padding: 0 !important;
}

#messageDialog,
#findDialog,
#newDialog{
    background-color:white;
    padding: 1em;
}

#findDialog ul,
#newDialog ul{
    list-style: none;
}
#findDialog li,
#newDialog li{
    margin: 0.5em;
}
#findText {
    width: 250px;
}

#newDialog label{
    padding-left: 4px;
}

.foundText{
    background-color: yellow;
}
.currentLine{
    background-color: #dcdcdc !important;
}

#apexContent, #vfContent{
    padding-left: 0.5em;
    font-size: 0.75em;
    overflow-x: hidden;
}

#apexContent ul, #vfContent ul{
     list-style: none;
}

#apexContent li, #vfContent li{
     margin-bottom: 0.5em;
}

.ui-resizable-helper { border: 1px dotted gray; }

.CodeMirror{
    border: 1px solid #eee;
}

#themesContainer{
    float: left;
    width: 200px;
}

.silk-icon-new,
.silk-icon-undo,
.silk-icon-redo,
.silk-icon-save,
.silk-icon-find{
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
}

.silk-icon-new {
    background-image: url("/images/silk_icons/add.png") !important;
}

.silk-icon-undo {
    background-image: url("/images/silk_icons/arrow_undo.png") !important;
}
.silk-icon-redo {
    background-image: url("/images/silk_icons/arrow_redo.png") !important;
}
.silk-icon-save {
    background-image: url("/images/silk_icons/disk.png") !important;
}
.silk-icon-find {
    background-image: url("/images/silk_icons/find.png") !important;
}

